.header {
  position: relative;

  .bookmark-list {
    position: absolute;
    z-index: 6;
    top: 100%;
    right: 0;
    background-color: white;
    width: 37%;
    font-size: 90%;
    cursor: pointer;

    .error {
      padding: 8%;
    }

    .recipe-item {
      display: grid;
      grid-template-columns: 20% 80%;
      grid-template-rows: repeat(2, 1fr);
      align-items: center;
      padding: 1rem;
      padding-left: 2rem;
      gap: 0.3rem;
      margin: 0.6% 0;

      &:hover {
        background-color: #f9f5f3;
        transform: translateY(-4%);
        transition: transform 0.1s linear;
      }

      .recipe-item-image {
        grid-row: span 2;
        width: 60%;
        aspect-ratio: 1;
        border-radius: 50%;
      }

      .recipe-item-title {
        align-self: end;
        color: $color-grad-2;
      }

      .recipe-item-publisher {
        align-self: start;
        color: $color-grey-dark-2;
      }
    }
  }
}
